@{
    ViewBag.Title = "EscarGo!";
}

<div class="jumbotron">
    <h1>EscarGo! L'expert en course d'escargot</h1>
    <p class="lead">Le monde passionnant des courses d'escargots, partout dans le monde...</p>

</div>

