body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* menu*/
.navbar-inverse {
    background-color: #ffd800;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight:bold;
    font-size:23px;
}

.navbar-inverse .navbar-nav > li > a {
    color:white;
}


/*table*/
.dateTD {
    width:150px;
    height:60px;
}

/*badge*/

.badge {
    color: #fff;
    background-color:forestgreen;
}

/* badge date*/
.badge-date {
    position:relative;
    padding:0;
}

.badge-date > .part1 {
    position:absolute;
    top:0px;
    left:0px;
        background-color:red;
        width:50px;
        color:white;
        font-weight:bold;
   font-size:14px;
   text-align:center;
       border-color:darkgray;
    border-width:1px;
    border-style:solid;
    border-radius:8px 8px 8px 8px;
}

.part1 > .month {
    background-color:white;
    color:black;
   padding:0 0 0 0;
}

    .badge-date > .year {
         position:absolute;
         top:0px;
         left:50px;
         text-align:center;
         font-weight:bold;
         padding:10px;
    }